*{
    margin: 0;
    padding: 0;
}
/* 
.navbar-text{
    display: flex-end;

} */
.navbar{
   justify-content: space-evenly;
}

.section{
    display: flex;
    justify-content: space-evenly;
}
img{
    border-radius: 10%;
    padding: 10px;
}

.price{
    display: flex;
    margin: 10px;
    
}
.ctn{
    color: orange;
    background-color: peru;
    width: 50px;
    border-radius: 10px;
    height: 30px;
}
span{
    color: white;
    margin-left: 2px;
}
.btn{
    background-color: orangered;
    border-radius: 6%;
    height: 30px;
    width: 150px;
    color: white;
    justify-self: unset;
   
   
    
}
.btn p{
    font-size: 10px;
}
.trick{
    display: flex;
    width: 100px;
    justify-content: space-evenly;
    height: 30px;
    border-radius: 8%;
    margin-right: 3px;
}
.cart{
    display: flex;
    margin: 20px;
    justify-content: center;
}


/* practise */
